body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#shopping-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#shopping-list input[type="text"],
#shopping-list input[type="number"],
#shopping-list input[type="date"],
#shopping-list textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#shopping-list input[type="checkbox"] {
    margin-right: 5px;
}

#shopping-list button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#shopping-list button:hover {
    background-color: #45a049;
}

#shopping-list div {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#shopping-list p {
    margin: 5px 0;
}
#info{
    text-align:center
}